* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.form-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-container label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-container input {
  background-color: #f2f2f2;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  color: #333333;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.form-container button[type="submit"] {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  transition: background-color 0.2s ease;
  width: 100%;
}

.form-container button[type="submit"]:hover {
  background-color: #3e8e41;
}

.list-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.list-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.list-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-container li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-container li p {
  margin: 0;
  font-size: 18px;
}

.list-container li button {
  padding: 8px;
  background-color: #ff5733;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.list-container li button:hover {
  background-color: #f44336;
}

.list-container li button + button {
  margin-left: 10px;
  background-color: #3498db;
}

.list-container li button + button:hover {
  background-color: #2980b9;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #333333;
}
